<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
</head>

<body>
  <div id="app">
    <br><br>
    <br><br>
    <div>
      <b-card bg-variant="secondary" text-variant="white" title="Type Of Risk" style="height: 15rem;">
        <p class="card-text">
          Please click on the button below to add your risk type.
        </p>
        <br><br>
        <b-btn variant="success"><a href="/addrisk" style="color:white">Add Risk</a></b-btn>
      </b-card>
    </div>


  </div>
  <script>
    window.app = new Vue({
      el: "#app",
      data: {},
      computed: {}
    })
  </script>

</body>

</html>
