<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <!-- Required Stylesheets -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>
  <div class="text-center">
    <br><br>
    <button class="btn btn-success" ><a href="/add" style="color:white">Add Fields</a></button>
    <br><br>
    <br><br>
    <div class="card text-center mx-auto" style="width: 25rem;">
      {% for risk in risk %}
      <div class="card-header ">
        {{risk.name}}</div>
      {% endfor %}

      <ul class="list-group list-group-flush">
        {% for field in field %}
        <li class="list-group-item">{{ field.name }}</li>
        <li class="list-group-item">{{ field.number }}</li>
        <li class="list-group-item">{{ field.date }}</li>
        {% endfor %}
    </div>
  </div>
</body>


</html>
<style type="text/css">
  body {
    background: #C0C0C0;
  }
</style>
